<div class="cta text-center">
    <div class="pad py-5 cta-main">
        <h1 class="fw-bold text-center text-white">What do you need to qualify</h1>
        <div class="bg-white ln-x w-75 mx-auto my-4"></div>
        <div class="row mx-0 g-0 text-white mt-5">
            <div class="col-12 col-md-4 pe-md-2">
                <h3>3+ Months in Business</h3>
                <p class="mt-4">You can qualify for our top financing options with as little as 3+months in business.</p>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 px-md-2">
                <h3>$5K+ Monthly Gross Sales</h3>
                <p class="mt-4">The minimum revenue to qualify for financing options are $5K per month, or $60K in annual gross sales.</p>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 ps-md-2">
                <h3>No Minimum FICO</h3>
                <p class="mt-4">We have financing options for all credit profiles. There is no minimum FICO score required to apply.</p>
            </div>
        </div>
    </div>
    <div class="cta-button-container">
        <div class="cta-pad">
            <div class="cta-button bg-white d-flex gap-3 flex-column flex-md-row justify-content-between align-items-center" #ctaButton>
                <p class="fs-5">
                    Easy 15-second application to get options in just minutes and funding in hours
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="d-none d-md-inline-block bi bi-arrow-right-circle-fill flex-shrink-0 color-secondary" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                    </svg>
                </p>
                <a href="/apply-now" class="btn btn-primary fw-bold text-nowrap">Apply Now</a>
            </div>
        </div>
    </div>
    <div [style]="'margin-bottom: ' + ctaButton.clientHeight  + 'px'"></div>
</div>

<div class="pad pt-3 pb-5">
    <h3 class="title text-center fw-semibold">How Other Business Owners Say About Us</h3>
    <div class="row mx-0 g-0 text-white mt-5">
        <div class="col-12 col-md-4 pe-md-2">
            <div class="card">
                <div class="d-flex gap-2 mb-3">
                    <svg *ngFor="let star of stars" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="color-primary bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </div>
                <p>"Working with Winchester Funding Solution was a game-changer for my business. I was struggling to secure funding through traditional banks, but they found the perfect loan with great terms that fit my needs. The process was fast, smooth, and stress-free. Thanks to their expertise, I was able to expand my operations and increase revenue. Highly recommended!"</p>
                <p class="fst-italic mt-3">— Jason D., Business Owner</p>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-4 mt-md-0 px-md-2">
            <div class="card">
                <div class="d-flex gap-2 mb-3">
                    <svg *ngFor="let star of stars" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="color-primary bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </div>
                <p>"I can't thank Winchester Funding Solution enough for helping me secure the funding I needed. They took the time to understand my business and found a loan with flexible terms that worked for me. Their team was professional, transparent, and always available to answer my questions. If you're looking for a reliable business loan broker, look no further!"</p>
                <p class="fst-italic mt-3">— Jennifer M., Entrepreneur</p>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-4 mt-md-0 ps-md-2">
            <div class="card">
                <div class="d-flex gap-2 mb-3">
                    <svg *ngFor="let star of stars" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="color-primary bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </div>
                <p>"I was hesitant about applying for a business loan, but Winchester Funding Solution made the process incredibly easy. They explained all my options, handled the paperwork efficiently, and secured a loan with a great interest rate. Because of their help, I was able to purchase new equipment and grow my business faster than I expected. I highly recommend their services!"</p>
                <p class="fst-italic mt-3">— David L., Independent Contractor</p>
            </div>
        </div>
    </div>
</div>