<div class="row mx-0 g-0">
    <div class="col-12 col-lg-4 lp-banner">
        <img src="home-banner.webp" alt="Small business owner" class="lp-banner-image" />
        <div class="lp-banner" style="width: 100%; height: 100%;">
            <div class="pad py-5">
                <div class="lp-banner-wrapper">
                    <h1 class="title">{{ item.card_title | uppercase }}</h1>
                    <h4 class="mt-3 mb-4">For Your Small Business</h4>
                    <ul class="highlight">
                        <li class="fs-5" *ngFor="let highlight of item.highlights">{{ highlight }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 bg-secondary-subtle">
        <div class="pad py-5">
            <h4 class="fw-bold text-center">Get started today and speak with an advisor</h4>
            <div class="lp-apply mt-4">
                <iframe
                    src="https://api.leadconnectorhq.com/widget/form/Md87y8rlFoCyAEPczSja"
                    style="width:100%;height:100%;border:none;border-radius:10px"
                    id="inline-Md87y8rlFoCyAEPczSja" 
                    data-layout="{'id':'INLINE'}"
                    data-trigger-type="alwaysShow"
                    data-trigger-value=""
                    data-activation-type="alwaysActivated"
                    data-activation-value=""
                    data-deactivation-type="neverDeactivate"
                    data-deactivation-value=""
                    data-form-name="Application Form"
                    data-height="1351"
                    data-layout-iframe-id="inline-Md87y8rlFoCyAEPczSja"
                    data-form-id="Md87y8rlFoCyAEPczSja"
                    title="Application Form"
                >
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary-subtle">
    <div class="pad py-5">
        <h1 class="fw-bold text-center">{{ 'What is a ' + item.card_title + '?' | uppercase }}</h1>
        <p class="mt-3 text-center">{{ item.about_description }}</p>
        <div class="row mx-0 g-0 mt-3">
            <div class="col-12 col-lg-6 pe-lg-2 lp-about">
                <img class="lp-about-image" src="lp-about.webp" alt="Two small business owners" />
                <div class="lp-about-btn d-flex justify-content-center align-items-center">
                    <a href="/apply-now" class="btn btn-primary fw-bold mx-2">SECURE AN INSTANT PRE-APPROVAL</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                <div class="w-100 row mx-0 g-2 mt-5 mt-sm-0">
                    <div *ngFor="let highlight of item.about_highlights" class="col-12 col-md-6">
                        <div class="lp-about-card bg-white">
                            <img [src]="highlight.image" width="100" />
                            <h5 class="mt-3 mb-4 color-secondary fw-bold">{{ highlight.title }}</h5>
                            <p>{{ highlight.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pad py-5">
    <h1 class="fw-bold text-center">WHAT DO YOU NEED TO QUALIFY?</h1>
    <div class="ln-x bg-secondary my-3"></div>
    <div class="row mx-0 g-0">
        <div class="col-12 col-md-4" *ngFor="let qualification of item.qualifications">
            <div class="d-flex flex-column flex-sm-row gap-2 mt-4 px-2 gap-3">
                <img [src]="qualification.image" width="50" />
                <div>
                    <h5 class="fw-semibold color-secondary">{{ qualification.title }}</h5>
                    <p>{{ qualification.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pad py-5">
    <h1 class="fw-bold text-center">WHY WINCHESTER FUNDING SOLUTIONS?</h1>
    <div class="ln-x bg-secondary my-3"></div>
    <div class="row mx-0 g-0">
        <div class="col-12 col-lg-3 pe-lg-2 mt-4">
            <div class="card">
                <h5 class="fw-semibold color-secondary text-center">Fast & Hassle-Free Loan Process</h5>
                <p class="text-center mt-3">We simplify the loan application process, ensuring quick approvals and minimal paperwork, so you can focus on growing your business without delays.</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 px-lg-2 mt-4">
            <div class="card">
                <h5 class="fw-semibold color-secondary text-center">Customized Loan Solutions</h5>
                <p class="text-center mt-3">Every business is unique, and so are its financial needs. We tailor loan options to fit your specific goals, whether it's expansion, equipment purchase, or working capital.</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 px-lg-2 mt-4">
            <div class="card">
                <h5 class="fw-semibold color-secondary text-center">Competitive Rates & Flexible Terms</h5>
                <p class="text-center mt-3">We work with a wide range of lenders to secure the best interest rates and repayment terms, ensuring you get the most cost-effective financing solution.</p>
            </div>
        </div>
        <div class="col-12 col-lg-3 ps-lg-2 mt-4">
            <div class="card">
                <h5 class="fw-semibold color-secondary text-center">Expert Guidance & Support</h5>
                <p class="text-center mt-3">Our team of experienced loan brokers is here to guide you every step of the way, answering your questions and helping you make the best financial decision for your business.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary-subtle">
    <div class="pad py-5">
        <h3 class="fw-bold text-center"><span class="color-secondary">Winchester Funding Solutions</span> - our winning combination of quick delivery and excellent customer care. <span class="color-secondary">Getting started is easy.</span></h3>
        <div class="row mx-0 g-0 mt-5">
            <div class="col-12 col-lg-6 pe-lg-2 lp-about">
                <img class="lp-about-image" src="lp-apply.webp" alt="Two small business owners" />
                <div class="lp-about-btn d-flex justify-content-center align-items-center">
                    <a href="/apply-now" class="btn btn-secondary fw-bold mx-2">SECURE AN INSTANT PRE-APPROVAL</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-sm-4 mt-lg-0 ps-lg-3 d-flex gap-3 flex-column">
                <div class="d-flex gap-3 flex-column flex-sm-row">
                    <div class="circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="flex-shrink-0 bi bi-file-text-fill" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                        </svg>
                    </div>
                    <div>
                        <h4 class="color-secondary"><strong>STEP 1.</strong> APPLY ONLINE</h4>
                        <p>Secure an instant pre-approval. Our application ​process is straightforward and can be ​completed in seconds.</p>
                    </div>
                </div>
                <div class="d-flex gap-3 flex-column flex-sm-row">
                    <div class="circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="flex-shrink-0 bi bi-check-all" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                        </svg>
                    </div>
                    <div>
                        <h4 class="color-secondary"><strong>STEP 2.</strong> REVIEW OPTIONS</h4>
                        <p>Your personal loan advisor will discuss finance ​options available with you for your business.</p>
                    </div>
                </div>
                <div class="d-flex gap-3 flex-column flex-sm-row">
                    <div class="circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="flex-shrink-0 bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                        </svg>
                    </div>
                    <div>
                        <h4 class="color-secondary"><strong>STEP 3.</strong> RECEIVE YOUR FUNDS</h4>
                        <p>Finish the online application process and ​receive your funds in as little as 24 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pad py-5">
    <h4 class="text-center color-secondary">RESOURCES & FREQUENTLY ASKED QUESTIONS</h4>
    <div class="faq mt-4">
        <div *ngFor="let faq of item.faqs; let i = index">
            <div class="ln-x bg-secondary"></div>
            <div class="faq-container">
                <div class="d-flex justify-content-between w-100">
                    <h5 [id]="'faq-' + i" class="faq-q">Q{{ i + 1 }}. {{ faq.q | uppercase }}</h5>
                    <button class="flex-shrink-0" (click)="openFaq(i)">
                        <svg [id]="'faq-btn-' + i" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="faq-btn flex-shrink-0 bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </div>
                <p class="faq-a" [id]="'faq-a-' + i">{{ faq.a }}</p>
            </div>
        </div>
    </div>
</div>