<div class="pad py-5 d-flex flex-column">
    <h3 class="fw-bold title text-center">Contact Us</h3>
    <div class="row mx-0 g-0 mt-5">
        <div class="col-12 col-md-6 pe-md-2">
            <div class="card" style="border-bottom: solid 3px var(--primary-400)">
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                    </svg>
                </div>
                <h4 class="mt-4 fw-semibold text-center">Talk to a member of our team</h4>
                <p class="text-center mt-3 mb-5">We'll help you find the right products and answer any questions you might have.</p>
                <div class="d-flex align-items-center flex-column gap-3">
                    <a class="btn btn-secondary fw-bold" [href]="'tel:' + setup.phone">Call Us Now</a>
                    <a class="btn btn-secondary fw-bold" [href]="'mailto:' + setup.email">Email Us</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 ps-md-2 mt-4 mt-md-0">
            <div class="card" style="border-bottom: solid 3px var(--primary-400)">
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-post-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1m0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </div>
                <h4 class="mt-4 fw-semibold text-center">Question about loan products?</h4>
                <p class="text-center mt-3 mb-5">Read some of the most frequently asked questions about our loan products. If you can't find the answers you are looking for, we're here to lend a hand.</p>
                <div class="d-flex align-items-center flex-column gap-3">
                    <a class="btn btn-secondary fw-bold" href="/faq">Read FAQs</a>
                </div>
            </div>
        </div>
    </div>
</div>